body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: -.4px;
  font-size: 1.4rem;
  line-height: 1.7rem;
  background-color: rgb(220, 218, 215);
}
h1,h2,h3,p,li    {
  font-size: unset;
  font-weight: unset;
  list-style-type: none;
}

.search_area {
  position: absolute;
  width: 706;
  border: 1px solid #03c75a;
  border-radius: 33px;
  background-color: rgb(220, 218, 215);
}